@tailwind base;
@tailwind components;
@tailwind utilities;
/* npx tailwindcss -i ./src/css/master.css -o .s/rc/css/dist/output.css --watch */


.carousel {
    position: relative;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-control {
    cursor: pointer;
}
